
<div id="map"> Welcome little map </div>
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnWKdeesjqnPGtVhHwDC-B-QRWgohaqKI&callback=initMap&libraries=&v=weekly"
asnyc defer></script>
 <script src="scripts/map.js"></script>