<section class="landing-page">

<h1>Hello Hello on our amazing musicians app</h1>

<div>
    <a href="/authentication/sign-in">Sign in</a>
    <a href="/authentication/sign-up">Sign up</a>
</div>
</section>

