<section class="landing-page">

<div class="landing-page-intro"> 
  <h2>Welcome on Mooseician, the place to be for every musician on the planet ;)</h2>
  <h4>Share events, find great equipment and get in touch with the community</h4>
    <div class="landing-page-link-group">
    <a href="/authentication/sign-in">Sign in</a>
    <a href="/authentication/sign-up">Sign up</a>
    </div>
</div>

</section>

