<nav>
    {{#if user}}
         <a href="/home"><i class="fas fa-home"></i> Home</a>
         <a href="/user/{{user._id}}"><i class="fas fa-user"></i> {{user.name}}'s Profile</a>
         <a href="/offer/create"><i class="fas fa-bullhorn"></i> Create an offer</a>
          <form action="/authentication/sign-out" method="POST">
          <button class="signout"> <i class="fas fa-sign-out-alt"></i> Sign Out</button>
        </form>
        {{else}}
        <a href="/authentication/sign-in"><i class="fas fa-sign-in-alt"></i> Sign In</a>
        <a href="/authentication/sign-up"><i class="fas fa-user-plus"></i> Sign Up</a>
      {{/if}}
</nav>
