<section class="page-header">
   <h3>Oooops... There was an error</strong></h3>
</section>

<div class="form error-view">
  <div> 
    <img src="/images/error.png" alt="error">
    <h2>Error-Status: {{error.status}}</h2>
  </div>
  
  <h1>Error-Message: {{message}}</h1>
  <pre>Error-Stack: {{error.stack}}</pre>
</div>

