<span class="headerfilter">
<h1>Market Place</h1>
</span>
<span class="filter">
<p><h3>Filter by</h3></p>
</span>

<section class="buttons">
<button class="filterbutton"><a href="/offer/events">Events</a></button>
<button class="filterbutton"><a href="/offer/services">Services / Trainings / Coaching</a></button>
<button class="filterbutton"><a href="/offer/buy-and-sell">Buy & Sell</a></button>
</section>

<section class="offeritem-overview">
   {{#each offers}}
   <div> 
   {{> offeritem}}
   </div>
   {{/each}}
</section>
