<h1>Welcome to our musicians app (the greates ever)</h1>

{{#each offers}}

<p>Titel: {{this.title}}</p>

{{#if this.image}}
<div>
   Image: <img src="{{image}}" alt="{{title}}">
</div>
{{/if}}

{{/each}}