<section class="page-header">
   <h3>Your published offers</h3>
</section>


<section class="offeritem-overview">
   {{#each offers}}
   <div> 
   {{> offeroverview}} <br>
   </div>
   {{/each}}
</section>
<br>

