<section class="page-header">
<h3>Update your profile picture</h3>
</section>

<form class="form" method="POST" enctype="multipart/form-data">

<label for="input-image">Update profile picture</label>
<input type="file" id="input-image" name="image" accept="image/png, image/jpeg">

<button>Update your Picture</button>

</form>