<section class="page-header">
<h3>Spotify Search Engine</h3>
<p class="subtitle-spotify">Search for your new favourite titles</p>
</section>

<form class="form" action="/music/artist-search" method="GET"> 
    <input type="search" placeholder="Search for any artist..." name="q" id="">
    <button>Search</button>
</form>