<h1 class="Home1">Spotify Search Engine</h1>

<form action="/artist-search" method="GET"> 
    <input type="search" placeholder="Search for any artist..." name="q" id="">
    <button>Search</button>
</form> 