<section class="page-header">
<h3>Please add all details of your offer</h3>
</section>

<form class="form" method="POST" enctype="multipart/form-data">
    <label for="input-title">Title of your offer</label>
    <input type="text" id="input-title" name="title" placeholder="Title of your item or service or event" required>

    <label for="input-description">Description</label>
    <textarea name="description" id="input-description" placeholder="Let us know more details about what you want to offer"required></textarea>

    <label for="input-image">Add your image (optional)</label>
    <input type="file" id="input-image" name="image" accept="image/png, image/jpeg">
   
    <label for="input-condition">How is the condition?</label>
    <select name="condition" id="input-condition" required>
        <option value="" selected disabled>Category</option>
        <option value="new">New</option>
        <option value="used">Used</option>
        <option value="heavily used">Heavily Used</option>
    </select>

    <label for="input-url">URL (optional)</label>  
    <input type="url" id="input-url" name="url" placeholder="URL">

    <button>Create your offer</button>

</form>
