<section class="page-header">
<h3>Please add all details of your offer</h3>
</section>

<form method="POST" enctype="multipart/form-data">
    <label for="input-title">Title of your advertisement</label>
    <input type="text" id="input-title" name="title" placeholder="Title of your item or service or event" required>

    <label for="input-typeof">What do you want to offer</label>
    <select name="typeof" id="input-typeof" required>
        <option value="" selected disabled>Category</option>
        <option value="Service">Service</option>
        <option value="Event">Event</option>
        <option value="Item">Item</option>
    </select>

    <label for="input-description">Add some more details for us</label>
    <textarea name="description" id="input-description" cols="30" rows="5" required></textarea>

    <label for="input-image">Add your image</label>
    <input type="file" id="input-image" name="image" accept="image/png, image/jpeg">
   
    <label for="input-condition">How is the condition (if it is an item)?</label>
    <select name="condition" id="input-condition">
        <option value="" selected disabled>Category</option>
        <option value="new">New</option>
        <option value="used">Used</option>
        <option value="heavily used">Heavily Used</option>
    </select>

    <label for="input-url">URL</label>  
    <input type="url" id="input-url" name="url" placeholder="URL">

    <button>Create your offer</button>

</form>
