<section class="page-header">
<h3>Most recent event recommentations</h3>
</section>

<section class="offeritem-overview">
   {{#each offer }}
   <div> 
   {{> offeritem}}
   </div>
   {{/each}}
</section>