<section class="page-header">
<h3>Buy and Sell your instruments, etc</h3>
</section>

<section class="offeritem-overview">
   {{#each offers}}
   <div> 
   {{> offeritem}}
   </div>
   {{/each}}
</section>