<section class="page">



<h1>Buy and Sell your instruments, etc</h1>


{{#each offers}}

<p>{{this.title}}</p>

{{#if this.url}}
<a href="{{this.url}}">Check out more Details</a>
{{/if}}

{{/each }}

</section>