<section class="page-header">
<h3>Find most recent offers of the community on our marketplace</h3>
</section>

<section class="offeritem-overview">
   {{#each offers}}
   <div> 
   {{> offeritem}}
   </div>
   {{/each}}
</section>