<section class="page-header">
<h3>Thanks for contacting {{user.name}}</h3>
</section>

<h3>{{user.name}} will shortly receive the following message:</h3>
 
<h4>Subject</h4>
<p>{{subject}}</p>
 
<h4>Message</h4>
<p>{{message}}</p>