<section class="page-header">
<h3>Services / Trainings / Coaching</h3>
</section>

<section class="offeritem-overview">
   {{#each offers}}
   <div> 
   {{> offeritem}}
   </div>
   {{/each}}
</section>