<section class="page-header">
   <h3>Offer created</h3>
</section>

<section class="offeritem-overview">
   <div> 
   {{> singleitem}}
   </div> <br>
<section class="btn-group-homepage">
  {{#if user}}
<button><a href="/offer/{{offer._id}}/update">Edit Offer</a></button>
<button><a href="/offer/{{offer._id}}/delete">Delete Offer</a></button>
{{/if }}
</section>

</section>