@import 'variables';

body {
  max-width: 90em;
  padding: 0 1em;
  margin: 0 auto;
  font-family: sans-serif;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 2px solid white;
  border-radius: 0;
  margin-bottom: 1em;
  font: white;
  color: white;
  background-color: transparent;
}

textarea {
  min-height: 3em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
  color: white;
}

.signout {
  border: 0;
  text-align: left;
  box-shadow: 0 0;
  font-weight: bold;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
  padding-bottom: 1.3em;
  background-color: $petrol;
  h3,
  h5 {
    color: white;
  }
}

.user-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
  padding-bottom: 1.7em;
  background-color: #0aaad1;
}

.user-image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.1em;
  border: 3px solid #dedede;
}

.user-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2em;
}

.user-information-item {
  margin-bottom: 1.5em;
}

.user-update {
  display: flex;
  justify-content: space-around;
}

.navbar-custom {
  background-color: $petrol;
  padding-top: 1em;
  padding-bottom: 1em;
  a {
    font-size: 1.3em;
    color: white;
  }
  li {
    padding-left: 30px;
  }
  button {
    font-size: 1.3em;
    color: white;
    border: 1px solid white;
  }
}
