@import 'variables';

body {
  background: url('/images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 0 1em;
  margin: 0 auto;
  font-family: sans-serif;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 2;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  min-height: 100%;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: -2.5rem;
  margin-top: 2.5rem;
  padding-bottom: 3.5rem;
}

#footer {
  border: 5px solid white;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: $petrol;
  margin-bottom: 1rem;

  p {
    color: white;
    font-size: 1em;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child) {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  margin-right: 10rem;
  button {
    padding: 1em;
    border-radius: 0;
    margin-bottom: 1em;
    border: 1px solid $petrol;
    font: white;
    background-color: $petrol;
    font-size: 1.2em;
    outline: none;
    box-shadow: none;
  }
  ::placeholder {
    color: white;
  }

  textarea {
    min-height: 3em;
    resize: vertical;
    font: white;
    background-color: transparent;
  }

  label {
    margin-bottom: 0.5em;
    color: white;
    font-size: 1.3em;
    background-color: transparent;
  }
  input:not([type='checkbox']),
  input:not([type='radio']),
  input:not([type='range']) {
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }
  input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;
  }
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  background-color: $petrol;
  border-top: 6px solid white;
  border-bottom: 6px solid white;
  h3,
  h5 {
    color: white;
  }
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
button,
.btn {
  padding: 1em;
  border: 2px solid white;
  border-radius: 0;
  margin-bottom: 1em;
  font: white;
  color: white;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

textarea {
  min-height: 3em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
  color: white;
}

.error-view {
  text-align: center;
  img {
    width: 15em;
    height: 15em;
  }
  h1,
  h2,
  pre {
    color: white;
  }
}
