.welcome {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.post-frontpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.image-frontpage {
  img {
    width: 22em;
  }
}
.description-frontpage {
  display: flex;
  flex-direction: column;
}