@import 'variables';

.landing-page {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url('/images/landing-page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 100vh;
}

.landing-page-intro {
  margin: 100px 200px auto;
  padding: 20px;
  background: hsl(192, 91%, 43%);
  background: hsla(192, 91%, 43%, 0.8);
  color: white;
  border-top: 8px solid white;
  border-bottom: 8px solid white;
  transition: background 5s;
  h2,
  h4 {
    text-align: center;
  }
}

.landing-page-link-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  a {
    font-size: 2em;
    text-decoration: none;
  }
  :hover {
    color: $dark-grey;
  }
}
