nav {
    position: fixed;
  bottom: 0;
  height: 100vh;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  color: black;
    a,
    button {
        padding: 1em 0.75em;
        cursor: pointer;
        transition: background-color 0.25s ease;
    }
  }

  .logo {
      width: 6em;
      height: 4em;
  }

  .logo img {
    border-radius: 50%;
    object-fit: cover;
}

.navbarstyle {
    padding-top: 7em;
}

.signout {
    padding-top: 7em;
    padding-left: 1em;
}