@import 'variables';

.offer-single {
  p,
  h3,
  h5,
  span {
    color: white;
  }
}

.offeritem-overview {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
  gap: 10px;
}

.card-custom {
  margin-top: 2.5rem;
  border: 3px solid $petrol;
  height: 400px;
  border-radius: 2.5%;
  background-color: hsla(192, 0%, 79%, 0.7);
}

.card-img-custom {
  width: 200px;
  height: 170px;
  object-fit: cover;
  margin: 20px auto;
  border-radius: 5%;
}

.card-header-custom {
  background-color: $petrol;
  font-size: 1.2rem;
  text-align: center;
  color: white;
}

.card-body-custom {
  margin-top: 0;
  padding-top: 0;
}

.card-link-overview {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}

.card-link-custom {
  cursor: pointer;
  color: $petrol;
  a {
    text-decoration: none;
    :hover {
      outline: none;
      box-shadow: none;
      color: $dark-grey;
    }
  }
}

.card-text-custom {
  line-height: 1;
}

.offer-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  img {
    flex: 1;
    width: 15em;
    height: 15em;
    border-radius: 20%;
    object-fit: cover;
    margin-right: 0.1em;
    border: 3px solid white;
    background-color: hsla(192, 0%, 79%, 0.7);
  }
}

.offer-description {
  flex: 3;
  padding-left: 5em;
  margin-bottom: 2em;
}

.comment-single {
  border: 1px solid white;
  margin-top: 1em;
  padding: 1em;
}

.offer-delete-button {
  margin-top: 3em;
}
